# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries
.gradle

# File-based project format
*.iws

# Custom
.idea/httpRequests
.idea/
.idea/codeStyles/codeStyleConfig.xml
/target
/cucumber-html-reports
/cucumberReport
NewProject.iml

# Logs and databases #
*.log